<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-label>Nombre:</mat-label>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ejemplo Nombre" formControlName="name">
        @if (name?.errors?.['required'] && name?.touched){
          <mat-error>
            El campo Nombre es obligatorio
          </mat-error>
        }
      </mat-form-field>

      <mat-label>Descripción:</mat-label>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Ejemplo descripción" formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
