<app-nav></app-nav>
<div class="d-flex flex-column h-100">
    <form [formGroup]="profileForm" (submit)="submitProfile()">
        <div class="container aa">
            <div class="card bb">
                <div class="card-header">
                    <h1 class="card-title">Datos del Usuario</h1>
                </div>
                <div class="card-body">

                    <label for="nameId" class="form-label">Nombre: </label>
                    <input matInput class="form-control form-control-lg" type="text" aria-label="Nombre: "
                        formControlName="name">
                    @if(name?.value === '' && name?.touched){
                    <div class="text-danger">
                        El campo no puede estar vacio.
                    </div>
                    }

                    <br>

                    <label for="lastNameId" class="form-label">Apellido: </label>
                    <input matInput class="form-control form-control-lg" type="text" aria-label="Apellido: "
                        formControlName="lastName">
                    @if(lastName?.value === '' && lastName?.touched){
                    <div class="text-danger">
                        El campo no puede estar vacio.
                    </div>
                    }

                    <br>
                    <label for="emailId" class="form-label">Correo: </label>
                    <input matInput class="form-control form-control-lg" type="text" aria-label="Correo: " formControlName="email">
                    <br>

                    <label for="passwordId" class="form-label">Contraseña: </label>
                    <input matInput class="form-control form-control-lg" type="password" aria-label="Contraseña: " formControlName="password">
                    @if(password?.value === '' && password?.touched){
                    <div class="text-danger">
                        El campo no puede estar vacio.
                    </div>
                    }

                    <br>
                    <button type="submit" mat-raised-button class="cc" [disabled]="profileForm.invalid">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </form>
</div>
