<form [formGroup]="invitationForm" (submit)="sendInvitation()">
  <mat-form-field>
    <mat-label>Ingrese el email de Usuario</mat-label>
    <input matInput formControlName="email" />
    @if(email.errors?.['email'] && email.touched){
      <mat-error>Formato incorrecto</mat-error>
    }
    @if(email.errors?.['required'] && email.touched){
      <mat-error>Debe ingresar un email</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Elija un Rol</mat-label>
    <mat-select formControlName="role">
      @for(role of roles; track role.value){
        <mat-option [value]="role.value">
          {{role.viewValue}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="success" type="submit" [disabled]="invitationForm.invalid">
    Aceptar
  </button>
</form>
